---
title: Tidy Tuesday Bird Counts
author: Katrin Tirok
date: '2019-06-20'
slug: tidy-tuesday-bird-counts
categories: ["R"]
tags:
  - tidy tuesday
  - R
output:
  html_document:
    code_folding: hide
---



<p>This is my first try with data from the <a href="https://github.com/rfordatascience/tidytuesday">Tidy Tuesday project</a>.</p>
<p>This week they provided a data set of <a href="https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-06-18">bird counts</a> from the Hamilton Area in Ontario, Canada.</p>
<p>Let’se see how we can explore the data a bit.</p>
<pre class="r"><code>library(tidyverse)
bird_counts &lt;- readr::read_csv(&quot;https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-06-18/bird_counts.csv&quot;)</code></pre>
<p>I always start to get an overview about the data I am working with</p>
<pre class="r"><code>head(bird_counts)</code></pre>
<pre><code>## # A tibble: 6 x 6
##    year species species_latin how_many_counted total_hours how_many_counte…
##   &lt;int&gt; &lt;chr&gt;   &lt;chr&gt;                    &lt;int&gt;       &lt;int&gt;            &lt;dbl&gt;
## 1  1921 Americ… Botaurus len…                0           8                0
## 2  1921 Americ… Anas rubripes                0           8                0
## 3  1921 Americ… Fulica ameri…                0           8                0
## 4  1921 Americ… Corvus brach…                0           8                0
## 5  1921 Americ… Spinus trist…                0           8                0
## 6  1921 Americ… Falco sparve…                0           8                0</code></pre>
<p>There are 199 different species in the data set and counts are from 94 years, 1921 to 2017. The total number of hours counted over the years is 6841, but we need to keep in mind that the hours were not reported in every year. The total number of birds counted over the years is 3619816.</p>
<div id="what-questions-can-we-ask" class="section level2">
<h2>What questions can we ask?</h2>
<p>Here are some ideas:</p>
<ul>
<li>how many bird counts were there per year</li>
<li>how many species were counted in each year</li>
<li>which are the most common and rare species</li>
<li>how many new species per year, and species not appearing anymore</li>
</ul>
</div>
<div id="were-all-species-found-from-the-list" class="section level2">
<h2>Were all species found from the list?</h2>
<pre class="r"><code># delete columns where counted = 0
birds &lt;- bird_counts %&gt;% 
  filter(how_many_counted_by_hour &gt; 0)
length(unique(birds$species))</code></pre>
<pre><code>## [1] 193</code></pre>
<p>6 of the 199 listed birds were never observed. They are:</p>
<pre class="r"><code>birds0 &lt;- bird_counts %&gt;% 
  group_by(species) %&gt;% 
  summarise(species_count = sum(how_many_counted_by_hour, na.rm = T)) %&gt;% 
  filter(species_count == 0) 
unique(birds0$species)</code></pre>
<pre><code>## [1] &quot;Black-throated Gray Warbler&quot; &quot;Common Eider&quot;               
## [3] &quot;Gyrfalcon&quot;                   &quot;Least Sandpiper&quot;            
## [5] &quot;Northern Bobwhite&quot;           &quot;Yellow-breasted Chat&quot;</code></pre>
</div>
<div id="how-many-bird-counts-per-year" class="section level2">
<h2>How many bird counts per year?</h2>
<pre class="r"><code># plot total hourly counts over time (years) 
bird_counts_totyh &lt;- bird_counts %&gt;% 
  group_by(year) %&gt;% 
  summarise(tot_counts = sum(how_many_counted_by_hour, na.rm = T))

# make the plot
ggplot(bird_counts_totyh) +
  geom_line(aes(x = year, y = tot_counts), colour = &#39;blue&#39;) +
  labs(title = &#39;What is the total hourly bird count every year?&#39;, 
       y = &#39;total number of birds counted per hour&#39;) +
  theme_classic()</code></pre>
<p><img src="/blog/2019-06-20-tidy-tuesday-bird-counts_files/figure-html/unnamed-chunk-6-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="how-many-different-bird-species-were-counted-every-year-and-does-it-relate-to-the-total-number-of-birds-counted" class="section level2">
<h2>How many different bird species were counted every year and does it relate to the total number of birds counted?</h2>
<pre class="r"><code># plot no of different species with total counts over time (years) as size of points
bird_counts_toty &lt;- bird_counts %&gt;% 
  group_by(year) %&gt;% 
  summarise(tot_counts = sum(how_many_counted, na.rm = T))
species_no &lt;- bird_counts %&gt;% 
  filter(how_many_counted &gt; 0) %&gt;% 
  group_by(year) %&gt;% 
  summarise(nr_species = length(unique(species)))
data_pl &lt;- merge(bird_counts_toty, species_no, by = &#39;year&#39;)

# make the plot
ggplot(data_pl) +
  geom_point(aes(x = year, y = nr_species, size = tot_counts), colour = &#39;blue&#39;) +
  scale_size(range = c(0.2, 3)) +
  labs(title = &#39;How many different bird species were counted every year?&#39;, 
       y = &#39;number of different species&#39;,
       size = &#39;total bird counts&#39;) +
  theme_classic()</code></pre>
<p><img src="/blog/2019-06-20-tidy-tuesday-bird-counts_files/figure-html/unnamed-chunk-7-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="how-many-hours-were-counted-per-year" class="section level2">
<h2>How many hours were counted per year?</h2>
<pre class="r"><code>bird_counts %&gt;% 
  group_by(year) %&gt;% 
  summarise(tot_hours = unique(total_hours)) %&gt;% 
  merge(species_no, by = &#39;year&#39;) %&gt;% 
  ggplot() +
    geom_point(aes(x = year, y = tot_hours), colour = &#39;blue&#39;) +
    labs(title = &#39;What are the total hours counted every year?&#39;, y = &#39;total number of hours counted&#39;) +
    theme_classic()</code></pre>
<p><img src="/blog/2019-06-20-tidy-tuesday-bird-counts_files/figure-html/unnamed-chunk-8-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="cumulative-species-count-over-the-years" class="section level2">
<h2>Cumulative species count over the years</h2>
<ul>
<li>to get the cumulative count of unique species I need to add the number of new species observered every year</li>
</ul>
<pre class="r"><code># get cumulative count
species &lt;- c()
no_species &lt;- c()
for(y in unique(bird_counts$year)){
  bird_counts_y &lt;- filter(bird_counts, year == y &amp; how_many_counted &gt; 0)
  no_species_y &lt;- length(unique(bird_counts_y$species))
  # create unique species
  species_y &lt;- unique(bird_counts_y$species)
  # build results
  species &lt;- c(species, species_y)
  no_species &lt;- c(no_species, length(unique(species)))
}</code></pre>
<pre class="r"><code># make the cumulative plot
species_cum &lt;- data.frame(year = unique(bird_counts$year), no_species_cum = no_species)
ggplot(data = species_cum) + 
  geom_line(aes(x = year, y = no_species_cum), colour = &#39;blue&#39;) +
  labs(title = &#39;Cumulative species count over the years&#39;, y = &#39;cumulative no of species&#39;) +
  theme_classic()</code></pre>
<p><img src="/blog/2019-06-20-tidy-tuesday-bird-counts_files/figure-html/unnamed-chunk-10-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="now-lets-look-at-common-and-rare-species" class="section level2">
<h2>Now let’s look at common and rare species</h2>
<ul>
<li>let’s find the 5 most common and 5 most rare species based on total hourly counts</li>
<li>then we can have a look how they developed over time</li>
</ul>
<div id="rare-species" class="section level3">
<h3>Rare Species</h3>
<pre class="r"><code>rare_species &lt;- bird_counts %&gt;% 
  group_by(species) %&gt;% 
  summarise(tcnt = sum(how_many_counted, na.rm = T)) %&gt;% 
  filter(tcnt == 1)</code></pre>
<p>There are actually quite a lot of rare species. Here are those, which were only counted once over the 94 years:</p>
<p>American Woodcock, Baltimore Oriole, Barn Owl, Black Vulture, Black-and-white Warbler, Black-headed Grosbeak, Blue-gray Gnatcatcher, Boreal Owl, Caspian Tern, Franklin’s Gull, Gray Jay, Great Gray Owl, Greater Yellowlegs, Harris’s Sparrow, Lesser Yellowlegs, Lincoln’s Sparrow, Northern Bobwhite, Northern Hawk Owl, Pacific Loon, Palm Warbler, Purple Sandpiper, Rose-breasted Grosbeak, Ruddy Turnstone, Spotted Sandpiper, Swainson’s Thrush, Varied Thrush.</p>
</div>
<div id="common-species" class="section level3">
<h3>Common Species</h3>
<pre class="r"><code>common_species &lt;- bird_counts %&gt;% 
  group_by(species) %&gt;% 
  summarise(tot_count = sum(how_many_counted_by_hour, na.rm = T)) %&gt;% 
  arrange(desc(tot_count))
common_species</code></pre>
<pre><code>## # A tibble: 199 x 2
##    species           tot_count
##    &lt;chr&gt;                 &lt;dbl&gt;
##  1 European Starling     8521.
##  2 Herring Gull          1633.
##  3 Canada Goose           920.
##  4 House Sparrow          900.
##  5 Greater Scaup          842.
##  6 Long-tailed Duck       762.
##  7 Common Merganser       731.
##  8 American Crow          716.
##  9 Mallard                683.
## 10 Common Goldeneye       420.
## # … with 189 more rows</code></pre>
<p>The 5 most common species were: European Starling, Herring Gull, Canada Goose, House Sparrow, Greater Scaup.</p>
</div>
<div id="how-did-the-common-species-develop-over-time" class="section level3">
<h3>How did the common species develop over time?</h3>
<pre class="r"><code>common5 &lt;- common_species$species[1:5]
bird_counts_pl &lt;- bird_counts %&gt;%  
  filter(species %in% common5) %&gt;% 
  group_by(year, species) %&gt;% 
  summarise(tot_count = sum(how_many_counted_by_hour, na.rm = T)) %&gt;% 
  # replace 0s with NA so that I can plot reasonably on log scale 
  mutate(tot_count = replace(tot_count, tot_count == 0, NA))

# replace 0s with NA in birds tot count table
bird_counts_toty_pl &lt;- bird_counts_totyh %&gt;% 
  mutate(tot_counts = replace(tot_counts, tot_counts == 0, NA))

ggplot(data = bird_counts_pl) +
  geom_line(aes(x = year, y = tot_count, colour = species)) +
  geom_line(data = bird_counts_toty_pl, aes(x = year, y = tot_counts), colour = &#39;black&#39;) +
  labs(title = &#39;How did common species develop over time?&#39;, subtitle = &#39;(total count over all species in black)&#39;,
       y = &#39;number of birds counted per hour (log2 scale)&#39;) +
  scale_y_continuous(trans=&#39;log2&#39;) +
  theme_classic()</code></pre>
<p><img src="/blog/2019-06-20-tidy-tuesday-bird-counts_files/figure-html/unnamed-chunk-13-1.png" width="576" style="display: block; margin: auto;" /></p>
<p>This is an interesting pattern, did the Canada Goose first appear in the area around 1960?, are the numbers of Herring Gulls decreasing over time? Having a quick look at Wikipedia says that the Canada Goose is a native all year bird to the area (Hamilton), but it also shows some migration patterns south from areas a bit further north. Maybe the migration pattern has changed over time and thus the appearance in winter increased.</p>
</div>
<div id="which-species-had-the-highest-counts-each-year" class="section level3">
<h3>Which species had the highest counts each year?</h3>
<pre class="r"><code>species_counts &lt;- bird_counts %&gt;% 
  group_by(year, species) %&gt;% 
  summarise(tot_count = sum(how_many_counted_by_hour, na.rm = T)) %&gt;%
  ungroup()

max_species &lt;- species_counts %&gt;% 
  group_by(year) %&gt;% 
  summarise(max_species = max(tot_count)) %&gt;% 
  # if max_species = 0, then remove rows
  filter(max_species &gt; 0) %&gt;% 
  merge(species_counts, by.x = c(&#39;year&#39;,&#39;max_species&#39;), by.y = c(&#39;year&#39;,&#39;tot_count&#39;), all.x = T)

max_species2 &lt;- max_species %&gt;% 
  group_by(species) %&gt;% 
  tally() %&gt;% 
  arrange(desc(n)) %&gt;% 
  rename(no_years_max = n)
max_species2</code></pre>
<pre><code>## # A tibble: 9 x 2
##   species               no_years_max
##   &lt;chr&gt;                        &lt;int&gt;
## 1 European Starling               47
## 2 Herring Gull                    15
## 3 Greater Scaup                    3
## 4 Long-tailed Duck                 3
## 5 Canada Goose                     2
## 6 Common Merganser                 2
## 7 American Crow                    1
## 8 American Tree Sparrow            1
## 9 House Sparrow                    1</code></pre>
<p>There were 9 species, which had the highest hourly count in at least 1 of the 94 years. In circa half of the years, the European Starling came out as the bird with most counts, the Herring Gull was most counted in ca 1/6 of all years and the other 7 birds showed maximum counts in individual years. Not surprisingly the five most common species also came up within those with most counts in at least one year.</p>
<p>There are many more things that can be done with the data, but this was a nice exercise for a start.</p>
</div>
</div>
<div id="animation" class="section level2">
<h2>Animation</h2>
<p>An animation is a nice way to show a development over time. I created a <a href="https://www.r-graph-gallery.com/circle-packing/">circle plot</a> of the spcies counts, where each circle represents one species and the size of the circle corresponds to the count per year. With the <code>gganimate</code> package I can g through the years and see how the pattern, i.e. the number of species and their counts changed over time. The code for this animation is available on my <a href="https://gitlab.com/snippets/1868793">GitLab account</a>.</p>
<p><img src="/blog/2019-06-20-tidy-tuesday-bird-counts_files/figure-html/unnamed-chunk-15-1.gif" style="display: block; margin: auto;" /></p>
</div>
