<!DOCTYPE html>
<html>
  <head>
  <title>
      
          Math Typesetting - Blog
      
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="map[]" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

  
  
  
  
  
  <link rel="stylesheet" href="/style.min.a6cab246517742ad1189b209575fc61556550e663cdfe02a0aab0632b39e978b.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  
  
  <link rel="stylesheet" href="/css/codefolding.css">
  

  <meta property="og:title" content="Math Typesetting" />
<meta property="og:description" content="Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries." />
<meta property="og:type" content="article" />
<meta property="og:url" content="/blog_o/math-typesetting/" />
<meta property="article:published_time" content="2019-03-08T00:00:00&#43;00:00"/>
<meta property="article:modified_time" content="2019-03-08T00:00:00&#43;00:00"/>

<meta itemprop="name" content="Math Typesetting">
<meta itemprop="description" content="Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries.">


<meta itemprop="datePublished" content="2019-03-08T00:00:00&#43;00:00" />
<meta itemprop="dateModified" content="2019-03-08T00:00:00&#43;00:00" />
<meta itemprop="wordCount" content="122">



<meta itemprop="keywords" content="" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Math Typesetting"/>
<meta name="twitter:description" content="Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries."/>

  <!--[if lte IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.1.20170427/classList.min.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->

  </head>

  <body>
    
  <h1>Math Typesetting</h1>
  <header>
  
  <div class="avatar">
    <img class="avatarMask" src="/img/Katrin4.png">
    <a href="/"><img src="/img/avatar-border.svg" }}></a>
  </div>
  
  <h2><a class="author" href="/">Katrin Tirok</a></h2>
</header>

  
  
  <p class="date">March 8, 2019</p>
  
  <div id="contentBody">
    <p>Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries.</p>

<p>In this example we will be using <a href="https://katex.org/">KaTeX</a></p>

<ul>
<li>Create a partial under <code>/layouts/partials/math.html</code></li>
<li>Within this partial reference the <a href="https://katex.org/docs/autorender.html">Auto-render Extension</a> or host these scripts locally.</li>
<li>Include the partial in your templates like so:</li>
</ul>

<pre><code>{{ if or .Params.math .Site.Params.math }}
{{ partial &quot;math.html&quot; . }}
{{ end }}
</code></pre>

<ul>
<li>To enable KaTex globally set the parameter <code>math</code> to <code>true</code> in a project's configuration</li>
<li>To enable KaTex on a per page basis include the parameter <code>math: true</code> in content files.</li>
</ul>

<p><strong>Note:</strong> Use the online reference of <a href="https://katex.org/docs/supported.html">Supported TeX Functions</a>
</p>

<h3 id="examples">Examples</h3>

<p>Inline math: <span  class="math">\( \varphi = \dfrac{1+\sqrt5}{2}= 1.6180339887… \)</span></p>

<p>Block math:</p>

<p><span  class="math">\[
 \varphi = 1+\frac{1} {1+\frac{1} {1+\frac{1} {1+\cdots} } }
\]</span></p>
  </div>
  <footer>
  <p>
  &copy; 2019 Katrin Tirok.
  Powered by <a href="https://gohugo.io/">Hugo</a>
  using the <a href="https://github.com/koirand/pulp/">pulp</a> theme.
  </p>
</footer>


  </body>
</html>
