{{ define "main"}}
  <h1>{{ .Title }}</h1>
  {{ partial "header.html" . }}
  {{ partial "header_maincodefolding" . }}
  <!-- date -->
  {{ $singlePageDateFormat := .Site.Params.singlePageDateFormat | default "January 2, 2006"}}
  <p class="date">{{ .Date.Format $singlePageDateFormat }}</p>
  <!-- content -->
  <div id="contentBody">
    {{ .Content }}
  </div>
  {{ partial "footer.html" . }}
{{ end }}
