<footer>
  <p>
  &copy; {{ .Site.Params.publicationYear }} {{ .Site.Params.Author }}.
  Powered by <a href="https://gohugo.io/">Hugo</a>
  using the <a href="https://github.com/koirand/pulp/">pulp</a> theme.
  </p>
</footer>
{{- range .Site.Params.custom_js -}}
<script src="{{ . }}"></script>
{{ end }}
<!-- Init code folding -->
{{ partial "article_footer_js.html" . }}
