<header>
  <!-- avator -->
  <div class="avatar">
    <img class="avatarMask" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}">
    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}img/avatar-border.svg" }}></a>
  </div>
  <!-- author -->
  <h2><a class="author" href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a></h2>
</header>
